frontend/package-lock.json
.classpath
.factorypath
.idea
.project
.settings
.vscode
backend/target
rpm/target
frontend/target
frontend/node
frontend/node_modules
backend/backend.iml
vuecrud.iml
datatable.iml
frontend/frontend.iml
rpm/rpm.iml
