<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>JenkinsService</title>
<link rel='stylesheet'
	href='webjars/bootstrap/3.3.7/css/bootstrap.min.css'>

<script src="webjars/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
	type="text/javascript"></script>

<script src="js/jenkinsService.js" type="text/javascript"></script>

</head>
<body>
	<div class="container">
		<p>here we go</p>

		<h2>
			<span th:text="'Message: ' + ${message}"></span>
		</h2>
		
		<table>
			<thead>
				<tr>
					<th >Url</th>
					<th >Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="job: ${jobs}">
					<td th:text="${job.key}">Oranges</td>
					<td th:text="${job.value.getName()}">name</td>
				</tr>
			</tbody>
		</table>
		<p>done</p>
	</div>
</body>
</html>