<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Jenkins</title>

<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' href='/webjars/bootstrap-vue/bootstrap-vue.css'>
	
<script src="/webjars/vue/dist/vue.js"></script>
<script src="/webjars/axios/dist/axios.js"></script>
<script src="/webjars/bootstrap-vue/bootstrap-vue.js"></script>
<script src="/webjars/webstomp-client/dist/webstomp.js"></script>
	
</head>
<body>
	<div id="app" class="container-fluid">
	
		<h1>playJenkinsCall</h1>
		
		<button type="button" class="btn btn-primary" v-on:click="greet">callJenkins</button>

		<ol>
			<li v-for="todo in todos">{{ todo.text }}</li>
		</ol>
	
	</div>


	<script src="js/playJenkinsCall.js"></script>

</body>
</html>